/* Fonts */
$roboto = 'Roboto', Arial, Helvetica, Sans-serif
$fs-h1 = 4.0rem
$fs-h2 = 2.4rem
$fs-h3 = 1.8rem
$fs-p = 1.4rem
$light = 300
$bold = 700

/* Colors */
$color-primary = #020203
$color-secondary = #0A0A10
$color-cta = #05C46B
$color-hover = #019952
